# -------------------------------------------------------------------------------------
# EJEMPLO DE ARCHIVO .env, PUEDE USAR ESTA CONFIGURACIÓN PARA EL ENTORNO DE DESARROLLO.
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# VARIABLES DE ENTORNO USADAS POR DJANGO.
# -------------------------------------------------------------------------------------

# Valor tipo bool. Activar la depuración. Para modo producción usar el valor false.
DEBUG=true

# Valor tipo string. Clave usada por django para seguridad.
SECRET_KEY=django-insecure-a!b(!f+fbm5kw($8esu(@js7jbsiyb9@oy8johdi1ogx(7vwib

# -------------------------------------------------------------------------------------
# Valor tipo list. Los elementos de esta variable de entorno son strings separados 
# por comas, ej: localhost, www.api.com. Nombre de los hosts permitidos, algunos de
# estos nombres deben coincidir con el encabezado host de la petición web.
# -------------------------------------------------------------------------------------
# Cuando realice una petición HTTP a esta aplicación, se revisará el Host Header,
# el valor del Host Header debe coincidir con alguno de los valores indicados en
# ALLOWED_HOSTS.
ALLOWED_HOSTS=localhost

# -------------------------------------------------------------------------------------
# Valor tipo list. Los elementos de esta variable de entorno son strings separados
# por comas, ej: https://localhost, http://localhost:5000. Servidores clientes que
# tienen permiso para hacer una petición HTTP de origen cruzado, a esta
# aplicación django.
# -------------------------------------------------------------------------------------
# Si utiliza un puerto diferente a los usados por defecto (80 para http y 443 para https)
# debe especificarlos dentro de los CORS_ALLOWED_ORIGINS.
CORS_ALLOWED_ORIGINS=http://localhost

# -------------------------------------------------------------------------------------
# VARIABLES DE ENTORNO USADAS POR LA API.
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Valor tipo int. Cantidad de tiempo (medida en segundos) que será tomada del archivo de
# audio y será procesada por la CNN para determinar si hay o no presencia de un fenómeno.
# -------------------------------------------------------------------------------------
# En el momento en el cual se construyó la primera CNN para la API, se usaron segmentos
# de audio con duración de 3[s], por ello el valor de VENTANA_TIEMPO es de 3. Si entrena
# una CNN con segmentos de audio de diferente duración y la usa dentro de la api, cambiar
# el valor de VENTANA_TIEMPO.
VENTANA_TIEMPO=3

# -------------------------------------------------------------------------------------
# Valor tipo int. Número de canales de los datos usados por la CNN.
# -------------------------------------------------------------------------------------
# En el momento en el cual se construyó la primera CNN para la API, se extrajeron 13
# MFCCs de los segmentos de audios usados, estos corresponden a una matriz con un solo
# CANAL, es por ello que se usa N_CANAL=1. Si por algún motivo, entrena una CNN que
# procesa una cantidad diferente de canales, cambiar el valor de N_CANAL. Además
# tendra que ir al archivo views.py y de ser necesario tendrá que cambiar la forma de
# extraer características de los archivos de audio. Ver librosa.feature.mfcc. dentro
# de class EstadoSaludColmena en views.py.
N_CANAL=1
